<!DOCTYPE html>
<html>
  <head>
    <title>Blender Products Meeting Recorder</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <form method="POST">
      <h1>Select your name and enter the name of your direct report.</h1>
      <p>Your Name:</p>
      <select id="username" name="username" required>
        <option value="Dave Dorste">Dave Dorste</option>
        <option value="Travis Starns">Travis Starns</option>
        <option value="Mark Pavol">Mark Pavol</option>
        <option value="Paul Filby">Paul Filby</option>
        <option value="Steve Hill">Steve Hill</option>
        <option value="Pat Tierney">Pat Tierney</option>
        <option value="Alex Beeck">Alex Beeck</option>
        <option value="Ignacio Carrion">Ignacio Carrion</option>
      </select>
      <label for="firstname">Direct Report First Name:</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        placeholder="Direct Report First Name"
        required
      />
      <label for="lastname">Direct Report Last Name:</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        placeholder="Direct Report Last Name"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
