<!DOCTYPE html>
<html>
  <head>
    <title>Record Audio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
  </head>
  <body>
    <h1>Welcome, {{ username }}. Today's date is {{ date }}.</h1>
    <button id="startButton" onclick="startRecording()">Start Recording</button>
    <button id="stopButton" onclick="stopRecording()" style="display: none">
      End Recording
    </button>
    <button id="pauseButton" onclick="pauseRecording()" style="display: none">
      Pause Recording
    </button>
    <button id="resumeButton" onclick="resumeRecording()" style="display: none">
      Resume Recording
    </button>
    <div id="statusMessage" style="display: none">Recording Complete</div>
    <button onclick="goBack()">Back</button>
    <canvas id="audioVisualization" width="640" height="100"></canvas>
    <script>
      let mediaRecorder;
      let stream; // Global variable to hold the media stream
      const socket = io();

      function startRecording() {
        // Access the microphone
        navigator.mediaDevices
          .getUserMedia({ audio: true })

          // Handle the media stream
          .then((mediaStream) => {
            stream = mediaStream; // Store the stream globally for later access
            // Create an object to record the audio from mediaStream
            mediaRecorder = new MediaRecorder(stream);
            // Once recording starts, update UI by taking away start button
            // and adding stop and pause buttons.
            document.getElementById("startButton").style.display = "none";
            document.getElementById("stopButton").style.display = "block";
            document.getElementById("pauseButton").style.display = "block";
            // Let the client side know recording has begun
            console.log("Recording started");
            // Start recording
            mediaRecorder.start();

            // Handle recorded data by processing chunks of audio data
            // as they become available. If the event exists, send it
            // to the server.
            mediaRecorder.ondataavailable = function (event) {
              if (event.data.size > 0) {
                socket.emit("audio_chunk", {
                  audioData: event.data,
                  username: "{{ username }}",
                  date: "{{ date }}",
                });
              }
            };
          })
          // Let the user know if an audio device is not available
          .catch((error) => {
            // Error handling
            if (
              error.name === "NotFoundError" ||
              error.name === "DevicesNotFoundError"
            ) {
              // No media devices found
              console.error("No recording device detected");
              alert("No recording device detected");
            } else {
              // Other kinds of errors
              console.error("Error accessing the microphone: ", error);
            }
          });
      }

      function stopRecording() {
        console.log("Stop button clicked");
        // Check if the recorder exists and make sure is is either paused or recording
        if (mediaRecorder && mediaRecorder.state !== "inactive") {
          // Stop the recording and let the client know
          mediaRecorder.stop();
          console.log("Recording stopped");
          // Hide the stop button, pause button, and resume button
          // Display the button to go back
          document.getElementById("stopButton").style.display = "none";
          document.getElementById("pauseButton").style.display = "none";
          document.getElementById("resumeButton").style.display = "none";
          document.getElementById("statusMessage").style.display = "block";

          // Emit the end of the audio event to let the server know the recording has ended
          setTimeout(() => {
            socket.emit("audio_end", {
              username: "{{ username }}",
              date: "{{ date }}",
            });
          }, 1000); // Adjust the delay as necessary
          // Release the microphone
          stream.getTracks().forEach((track) => track.stop()); // Stop each track of the stream to release the microphone
          // Clear the global variables
          stream = null;
          mediaRecorder = null;
          // Handle inactive recorder by letting the client know the recorder isn't active
        } else {
          console.log("Recorder is inactive or not defined");
        }
      }

      function pauseRecording() {
        // Check to make sure the recorder exists and is not inactive or paused
        if (mediaRecorder && mediaRecorder.state === "recording") {
          // Update media recorder to paused
          mediaRecorder.pause();
          // Let the client know the recording is paused
          console.log("Recording paused");
          // Hide the pause button and show the resume button
          document.getElementById("pauseButton").style.display = "none";
          document.getElementById("resumeButton").style.display = "block";
        }
      }

      function resumeRecording() {
        // Check to make sure the recorder exists and is not inactive or recording
        if (mediaRecorder && mediaRecorder.state === "paused") {
          // Update media recorder to resume
          mediaRecorder.resume();
          // Let the client know the recording is resumed
          console.log("Recording resumed");
          // Hide the resume button and show the pause button
          document.getElementById("resumeButton").style.display = "none";
          document.getElementById("pauseButton").style.display = "block";
        }
      }

      function goBack() {
        // Go back one page
        window.history.back();
      }
    </script>
  </body>
</html>
